STRING

# single line comments

In [1]:
letter = 'T'
print(letter) # string in single quote

T

In [2]:
letter = "T"
print(letter) # string can be in double quotes

T

In [3]:
print(len(letter)) # len() function is used to find the length of the string

1

In [4]:
name = "KOMPALLY TRUPTI"
print(name)
print(len(name))

KOMPALLY TRUPTI
15

In [5]:
sentence = " My name is Trupti, and I am full stack data science with AI"
print(sentence)
print(len(name)) # len() is to find the length of the string 
print(type(name))

 My name is Trupti, and I am full stack data science with AI
15
<class 'str'>

# multiline comments or string

In [6]:
multiple_string = ''' My name is K.Trupti.
I am studying "Full Stack Data Science with Genetic AI"
FROM Naresh IT'''
print(multiple_string)           #Multiline strings are written in triple quotes

 My name is K.Trupti.
I am studying "Full Stack Data Science with Genetic AI"
FROM Naresh IT

In [7]:
multiple_string = """My name is K.Trupti.
I am studying "Full Stack Data Science with Genetic AI"
FROM Naresh IT"""
print(multiple_string)         #Multiline strings are also written in double quotes- 3 times

My name is K.Trupti.
I am studying "Full Stack Data Science with Genetic AI"
FROM Naresh IT


# String Concatenation

In [9]:
first_name = 'Kompally'
last_name = 'Trupti'
full_name = first_name + last_name
print(full_name)  # printing the name without space

KompallyTrupti

In [11]:
first_name = 'Kompally'
last_name = 'Trupti'
space = ' '                                 # applying space in between name 
full_name = first_name + space + last_name
print(full_name) 
print(len(first_name))   # finding the length of the string using len() function
print(len(last_name))
print(len(full_name))
print(len(first_name) > len(last_name))  # True , boolean function

Kompally Trupti
8
6
15
True

#Accessing characters in strings by index

In [12]:
language = 'Trupti'
first_letter = language[0]
print(first_letter) #T 
second_letter = language[1]
print(second_letter) # r
third_letter = language[2]
print(third_letter) #u         # if we start the indexing from left end we use positive indexing from 0,1,.....

T
r
u

In [15]:
language = 'Trupti'
last_letter = language[-1]
print(last_letter) #i
second_last = language[-2]
print(second_last) #t
third_last = language[-3]
print(third_last) #p         #if we start indexing from right end we use negative indexing , from -1,-2.....

i
t
p


#SLICING

In [16]:
language = 'Trupti'
print(language)

Trupti

In [18]:
first_three = language[0:3] # indexing starts from 0 upto 3 , and index 3 is not included 
last_three = language[3:6] 
print(first_three)
print(last_three)

Tru
pti

In [20]:
first_three = language[-3:]
print(first_three)
last_three = language[-6:-3]
print(last_three)

pti
Tru

In [21]:
last_three = language[3:]
print(last_three)

pti

In [22]:
last_three = language[:3]
print(last_three)

Tru

In [25]:
abc = language[0:6:4:2]
print(abc)

SyntaxError: invalid syntax (2592061860.py, line 1)

In [26]:
abc = language[0:6:2]
print(abc)              #skipping character while splitting python strings

Tut

In [27]:

# Escape sequence 

print('I hope every one enjoying the classes.\n Do you ?') # \n is used for line break

I hope every one enjoying the classes.
 Do you ?

In [31]:
print('s.no\tsubject \tMarks')
print('1\t english \t20')
print('2\t maths   \t18')
print('3\t social  \t20')
print('4\t science \t15')

s.no	subject 	Marks
1	 english 	20
2	 maths   	18
3	 social  	20
4	 science 	15

In [32]:
# To write a black slash

print('This a back slash symbol(\\)')

This a back slash symbol(\)

In [34]:
# To write a black slash

print('To learn any programming lang it start with learning basics language called\"c,python\"')

To learn any programming lang it start with learning basics language called"c,python"

In [40]:

# string methods - capitalize() : it is used to convert the first character string to capital letter 

Name = "kompally trupti"
print(name.capitalize())

Kompally trupti

In [41]:
challenge = 'thirty days of python'
print(challenge.count('y')) 
print(challenge.count('y',7,14)) 
print(challenge.count('th'))   # count() is used to find occurrences of substrings(letters) in string

3
1
2

In [43]:
Name = "kompally trupti"
print(challenge.count('t')) 
print(challenge.count('u')) 
print(challenge.count('ti'))

3
0
0

In [50]:
Name = "kompally trupti"

In [55]:

#endswith(): is used to find a string ends with specific substrings 

Name = "kompally trupti"
print(Name.endswith('t'))
print(Name.endswith('pti')) #True
print(Name.endswith('ti'))  #True

False
True
True

In [60]:
#expandtabs(): replaces tab character with spaces, default tab size is 8

Name = "kompally\ttrupti"
print(Name.expandtabs())

kompally        trupti

In [61]:
Name = "kompally trupti"
print(Name.expandtabs(10))        #default tab size is 10

kompally trupti

In [62]:

#find() : returns the index of first occurrence of substring

Name = "kompally trupti"
print(Name.find('p'))
print(Name.find('ti'))

3
13

In [63]:
Name = "kompally trupti"
print(Name.find('m'))
print(Name.find('al'))

2
4

In [64]:
# format(): formats string into nicer output 

first_name = 'kompally'
last_name = 'trupti'
job = 'student'
country = 'India '
sentence = 'I am {} {}. I am a {}. I live in {}.'.format(first_name, last_name, job, country)
print(sentence)

I am kompally trupti. I am a student. I live in India .

In [66]:
first_name = 'kompally'
last_name = 'trupti'
job  = 'student'
at = 'Biet '
gpa = 8.0
sentence = 'I am {} {}. I am a {}. I am studying at {}. My current {}'.format(first_name, last_name, job, at, gpa)
print(sentence)

I am kompally trupti. I am a student. I am studying at Biet . My current 8.0

In [1]:
radius = 20
pi = 2.74
area = pi 
result ='The area of circle with {} is {}'.format(str(radius),str(area))
print(result)

The area of circle with 20 is 2.74

#index(): Returns the index of substring

In [2]:
challenge = 'thirty days of python'
print(challenge.find('y'))  
print(challenge.find('th'))

5
0

In [ ]:
# isalnum(): checks alphanumeric character

In [3]:
challenge = 'ThirtyDaysPython'
print(challenge.isalnum())

True

In [4]:
challenge = 'thirty days of python'  # space are not allowed in isalnum
print(challenge.isalnum())    #isalnum() contains only alphanumeric (a-z , A-Z) & num (0-9)

False

In [5]:
# isdecimal(): Checks Decimal Characters

challenge = 'thirty days of python'
print(challenge.find('r'))  
print(challenge.find('on'))

3
19

In [6]:
# isdigit(): it is used to check the digits 

Name = 'Trupti'
print(Name.isdigit())

False

In [7]:
Name = '30'
print(Name.isdigit())     # it is True because the integer is included in string place

True

In [8]:
#isdecimal() : it is used to check the decimal 

Name = '30'
print(Name.isdecimal())  

Name1 = '30.6'
print(Name1.isdecimal())

True
False

In [9]:

#isidentifier() : is used to check whether the string is in correct variable 

Name = '30'
print(Name.isdigit())
challenge = '06monthstraining' # is prints False because it contains digits 
print(challenge.isidentifier())
challenge1 = 'six_months_training'
print(challenge1.isidentifier())

True
False
True

In [10]:

#islower() : is used to check whether string contains lowercase letters 

challenge = 'six months training'
print(challenge.islower())

challenge = 'Six months training'
print(challenge.islower())

True
False

In [13]:

#isupper() : is used to check whether string contains uppercase 

challenge = 'SIx MONTHS TRAINING'
print(challenge.isupper())

challenge1 = 'SIX MONTHS TRAINING'
print(challenge1.isupper())

False
True

In [14]:
 #isnumeric() : is used to check 

Num = '19'
Name = 'trupti'
print(Num.isnumeric())
print(Name.isnumeric())

True
False

In [17]:
# join() : it gives a concatenated string 

Names = ['trupti','ashu','shravani','krithi']
print(Names.join(Names))

AttributeError: 'list' object has no attribute 'join'

In [23]:
Names = ['trupti','ashu','shravani','krithi']
result ='#,'.join(Names)
print(result)

trupti#,ashu#,shravani#,krithi

In [28]:
# strip() : remove the leading and trailing characters

challenge = 'six monthst raining'
print(challenge.strip('s'))

ix monthst raining

In [29]:
#replace(): it replaces the string inside
challenge = 'six months training'
print(challenge.replace('training','learning'))

six months learning

In [30]:
#split() : is is used to slipt the string from left side 

challenge = 'six months training'
print(challenge.split())

['six', 'months', 'training']

In [31]:

#title() : it is used to change the title 
challenge = 'six months training'
print(challenge.title())

Six Months Training

In [33]:

#swapcase():

challenge = 'six months training'
print(challenge.swapcase())

challenge = 'SIX MONTHS TRAINING'
print(challenge.swapcase())

SIX MONTHS TRAINING
six months training

In [36]:

#startswith(): check weather the given string starts with specified string

challenge = 'six months training'
print(challenge.startswith('six'))
challenge = '06 months training'
print(challenge.startswith('six'))

True
False