Arithmetic operators

In [13]:
b = 7 # value 7 is assigned to b 
b

7

In [2]:
24 + 30 # addition

54

In [3]:
30 - 30 # subtraction

0

In [4]:
9 * 9 # multiplication

81

In [5]:
9 / 6 # float division

1.5

In [6]:
20 // 20 # int division

1

In [7]:
2 ** 3 #exponential

8

In [8]:
3 * (6-9)+4

-5

In [9]:
3 * 6-8+2

12

In [14]:
8 % 8

0

ASSIGNMENT OPERATOR

In [11]:
50 > 30

True

In [12]:
33 < 10

False

In [13]:
34 == 40

False

In [20]:
a = 7 
a

7

In [21]:
a += 2
a

9

In [22]:
a -= 2 # this is the assignment operator which does the opposite of the operator before that is this operator decrements the value on the left from the value assigned to the variable initially. As we can see the value of variable a is decremented from 20 to 18 and now from 18 to 16 because the same operator is executed twice.
a

7

In [23]:
a -= 2 
a

5

In [24]:
a *= 2 
a

10

In [25]:
a /= 2
a

5.0

In [14]:
WELCOME TO JUPYTER NOTEBOOK

SyntaxError: invalid syntax (3658844786.py, line 1)

In [15]:
'WELCOME TO JUPYTER NOTEBOOK'

'WELCOME TO JUPYTER NOTEBOOK'

In [16]:
"WELCOME TO JUPYTER NOTEBOOK"

'WELCOME TO JUPYTER NOTEBOOK'

In [17]:
'''WELCOME TO JUPYTER NOTEBOOK'''

'WELCOME TO JUPYTER NOTEBOOK'

In [18]:
WELCOME 
TO 
JUPYTER 
NOTEBOOK

NameError: name 'WELCOME' is not defined

In [19]:
'''WELCOME 
TO 
JUPYTER 
NOTEBOOK'''

'WELCOME \nTO \nJUPYTER \nNOTEBOOK'

In [21]:
V = 8
V

8

In [22]:
type(v)

NameError: name 'v' is not defined

In [24]:
type(V)

int

In [25]:
10 = v

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (354060040.py, line 1)

In [26]:
2v = 20

SyntaxError: invalid decimal literal (23239747.py, line 1)

In [28]:
v2 = 20
v2

20

In [29]:
id(v2) # memory address

140735854685208

In [3]:
a  = 3.22 
print(type(a))

TypeError: 'float' object is not callable

VARIABLES

In [2]:
v = 8
v

8

In [3]:
type(v)

int

In [4]:
id(v) # address of the variable

140724150217368

In [6]:
1nit = 20 # variables never start with numbers 
1nit

SyntaxError: invalid decimal literal (117607633.py, line 1)

In [7]:
nit1 = 20
nit1

20

In [11]:
nit3 = 33
NIT3

NameError: name 'NIT3' is not defined

In [10]:
nit3

33

In [26]:
Trupti@ = 7 # a variable can never contain a special characharacter

SyntaxError: invalid syntax (3362841540.py, line 1)

In [8]:
trup_ = 7# underscore "_" has the previlege it can be added to the variables.

In [29]:
import keyword # a keyword can never be used as variable name.
keyword.kwlist # below is list of keywords

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [30]:
len(keyword.kwlist) #len() is used to list the num of items in set/lists.

35

In [31]:
import sys # it is used to check the system(sys)version
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]'

DATA TYPES

In [10]:
i = 28
print(i)
print(type(i))

28
<class 'int'>

In [12]:
f = 28.77
print(f)
print(type(f))

28.77
<class 'float'>

In [13]:
f = 28,88
print(f)
print(type(f))

(28, 88)
<class 'tuple'>

In [14]:
a,b = 10,20

In [15]:
c = a+b # to perform one operation print is not  requires , to print multi operations print is used
d = a-b # only d value is printed, c is not printed . so we use the print function to print the all the variables 
c
d

-10

In [16]:
c = a+b # by using the print function both the values c,d are printed 
d = a-b
print(c)
print(d)

30
-10

In [18]:
a = '9-4' #string 
type(a)

str

In [19]:
a = 1 + 2j # cpmplex data type
type(a)

complex

In [20]:
a = True # boolean 
type(a)

bool

In [23]:
def hello():
    print('Welcome to the jupyter notebook') # after semicolon we have to take 4 spaces 
hello()   
          # hello() function without class is "function"

Welcome to the jupyter notebook

In [25]:
class nit:
    def hello():
        print('Welcome to the jupyter notebook') # after semicolon we have to take 4 spaces 
hello() # hello() functioin within class is method

Welcome to the jupyter notebook

In [26]:
i, f, s, b, c = 20, 3.6, 'trupti', True , 2+5j

In [27]:
print(i)
print(f)
print(s)
print(b)
print(c)

20
3.6
trupti
True
(2+5j)

In [28]:
print(type(i))
print(type(f))
print(type(s))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>