# Python Type Casting - converting one data type to another data type

 # converting all other datatypes to "Integer"

In [3]:
int(3.4)          # float datatype to integer

3

In [4]:
int(3.4,7.8) #while castinf float data type to integer only one argument  can be passed

TypeError: 'float' object cannot be interpreted as an integer

In [5]:
int(True)          # Boolean to integer datatype

1

In [7]:
True + True + True + False * True

3

In [8]:
int(3+2j)          # complex datatype to integer is not possible

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [10]:
int('Three')            # string to integer cannot possible is it is return in text

ValueError: invalid literal for int() with base 10: 'Three'

In [11]:
int('10')                # string to integer can possible

10

# converting other data types to "Float"

In [12]:
float(44)              # integer into float datatype

44.0

In [13]:
float(True)           # boolean into float datatype

1.0

In [14]:
float(False)

0.0

In [15]:
flaot(1+2)       # float to string data type

NameError: name 'flaot' is not defined

In [ ]:
float('10')     # string to float data type

In [16]:
float('Ten')

ValueError: could not convert string to float: 'Ten'

# converting other datatypes to complex

In [17]:
complex('10')      # converting into complex

(10+0j)

In [19]:
complex(10,20)

(10+20j)

In [21]:
complex(10,20,30)       # complex agrument is a+bj

TypeError: complex() takes at most 2 arguments (3 given)

In [23]:
print(complex(3.4))
print(complex(3.4, 34))
print(complex('20'))
print(complex(True,False))

(3.4+0j)
(3.4+34j)
(20+0j)
(1+0j)

# converting other data type to Boolean

In [24]:
bool(0)

False

In [25]:
bool(1)

True

In [26]:
bool()

False

In [28]:
bool(0 + 0j)

False

In [29]:
bool('29')

True

In [30]:
bool('Three')

True

In [31]:
bool('Trupti')

True