# SETS

# set creation

In [2]:
s = {}
s

{}

In [3]:
type(s)

dict

In [7]:
s1 = set()
type(s1)

set

In [10]:
myset = {1,2,3,4,5,6,7}       # set of numbers 
myset

{1, 2, 3, 4, 5, 6, 7}

In [11]:
len(myset)            #Length of the set

7

In [12]:
myset = {1,1,2,2,2,3,3,4,4,5,5,5}         # Duplicatres are not allowed 
myset

{1, 2, 3, 4, 5}

In [14]:
myset1 = {'Trupti','deepshikha','Ashwini','shravani'}
myset1                                                  # set of strings

{'Ashwini', 'Trupti', 'deepshikha', 'shravani'}

In [15]:
myset2 = {2.34,2.01,4.55,5.45}                 #set of float numbers 
myset2

{2.01, 2.34, 4.55, 5.45}

In [16]:
myset3 = {'Trupti',19,33.90,(11,22,33)}       # Mixed datatypes
myset3

{(11, 22, 33), 19, 33.9, 'Trupti'}

In [17]:
myset3 = {'Trupti',19,33.90,[11,22,33]}    # set does not allow the mutable items like list
myset3

TypeError: unhashable type: 'list'

In [18]:
myset4 = set()      #create an emoty set 
print(type(myset4))

<class 'set'>

In [19]:
myset1 = set(('one' , 'two' , 'three' , 'four'))
myset1

{'four', 'one', 'three', 'two'}

In [20]:
myset2 = myset1           
myset2

{'four', 'one', 'three', 'two'}

In [21]:
myset = 9,8,0,5,4
myset

(9, 8, 0, 5, 4)

In [24]:
myset3 = myset2.reverse
myset3

AttributeError: 'set' object has no attribute 'reverse'

# Loop through a set

In [25]:
myset = {'one','two','three','four','five','six','seven','eight'}

for i in myset:
    print(i)

three
two
eight
five
one
seven
four
six

In [26]:
for i in enumerate(myset):
    print(i)

(0, 'three')
(1, 'two')
(2, 'eight')
(3, 'five')
(4, 'one')
(5, 'seven')
(6, 'four')
(7, 'six')

# Set Membership

In [27]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [29]:
'one' in myset                              # check if 'one' exits in the set

True

In [30]:
'ten' in myset                             # check if 'ten' exuts in the set

False

In [31]:
if 'three' in myset:
    print('three is present in the set')
else:
    print('three is not present in the set')

three is present in the set

In [32]:
if 'seven' in myset:                      # check if 'two' exits in the list 
    print('seven is present in the set')
else:
    print('seven is not prsent in the set')

seven is present in the set

# Add & Remove items

In [33]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [34]:
myset.add('TRUPTI')         # sts allows the element to add() using add method 
myset

{'TRUPTI', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [35]:
myset.update(['ASHWINI' , 'SHRAVANI' , 'TWELVE'])   # to add multiple elements - update() method is used 
myset

{'ASHWINI',
 'SHRAVANI',
 'TRUPTI',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [36]:
myset.remove('TWELVE')         # remove() is used to remove the element from the set
myset

{'ASHWINI',
 'SHRAVANI',
 'TRUPTI',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [37]:
myset.discard('TRUPTI')      # to remove the element from set - discard() method is also used 
myset

{'ASHWINI',
 'SHRAVANI',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [38]:
myset.clear()      # delete the all items in the set 
myset

set()

In [39]:
del myset        # delete the set object 
myset

NameError: name 'myset' is not defined

# copy set

In [41]:
myset = {'Trupti','one','two','three','four','five','six','seven','eight'}
myset

{'Trupti', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [42]:
myset1 = myset              # create a new reference set "myset1" 
myset1

{'Trupti', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [43]:
id(myset) , id(myset1)           # find the addresses of the two sets , which is same for both

(2339020240960, 2339020240960)

In [44]:
my_set = myset.copy()             # create a copy of the list
my_set

{'Trupti', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [45]:
id(my_set)      # the address of my_set will be different from myset

2339020233792

In [46]:
myset.add('nine')
myset

{'Trupti',
 'eight',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [47]:
myset1

{'Trupti',
 'eight',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [48]:
my_set

{'Trupti', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

# SET OPERATIONS

# Union

In [49]:
A = {1,2,3,4,5}            # "|" is union symbol used 
B = {4,5,6,4,8}       
C = { 8,9,10}             # union function is used to print all elements same in both sets and duplicates are not allowed

In [50]:
A | B                  # set does not allow duplicates so , in union duplicates are not printed

{1, 2, 3, 4, 5, 6, 8}

In [51]:
A.union(B)            # union of A and B

{1, 2, 3, 4, 5, 6, 8}

In [52]:
B.union(A)

{1, 2, 3, 4, 5, 6, 8}

In [53]:
A.union(B,C)      # print the union of A,B and C

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [54]:
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [55]:
A                  # set A is updated

{1, 2, 3, 4, 5, 6, 8, 9, 10}

# Difference

In [56]:
A = {1,2,3,4,5,6}
B = {4,5,6,7,8,9}

In [57]:
A - B        # print the elements that are only in 'A' not in 'B' - means same elements are deleted

{1, 2, 3}

In [58]:
A.difference(B)  # only set A elements are prints which are different from set B

{1, 2, 3}

In [59]:
B - A      # print the elements that are only in 'B' not in 'A'

{7, 8, 9}

In [60]:
B.difference(A)

{7, 8, 9}

In [61]:
B.difference_update(A)
B                             # set B is updated

{7, 8, 9}

# Symmetric Difference

In [62]:
A = {1,2,3,4,5,6}
B = {4,5,6,7,8,9}

In [63]:
A ^ B    # print the elements that are in set 'A' and Set'b' but not in  both

{1, 2, 3, 7, 8, 9}

A.symmetric_difference_update(B)
A

# Subset, Superset & Disjoint

In [64]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,6,7,9,5}
c = {10,20,30,40}

In [65]:
B.issubset(A)   # if all elements in "set B" are in 'set A' , then set B is said as subset of set A

True

In [66]:
A.issuperset(B)   # A is called superset is all elements in set B are in set A

True

In [68]:
C.isdisjoint(A)    # if both sets does not have common elements , then that sets are disjoint sets

False

In [69]:
B.isdisjoint(A)

False

In [70]:
C.isdisjoint(B,A)               # two arguments arenot  passed

TypeError: set.isdisjoint() takes exactly one argument (2 given)

# Other Builtin functins

In [71]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [72]:
sum(A)                    # add the all elements in set A

45

In [73]:
max(A)                   # print the maximum value from the set A

9

In [74]:
min(A)                  # print the minimam value from the set A

1

In [76]:
len(A)                  # print the length of the set

9

In [77]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

# Sorting

In [79]:
D = sorted(A)
D

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
D = sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [81]:
D = sorted(A,reverse=False)
D

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]