# Dictionary

# Create Dictionary

In [7]:
mydict = dict()                  # empty dictionary
mydict

{}

In [8]:
mydict = {}                    # empty dictionary
mydict                         # dictionaries are written in the key_value pairs

{}

In [9]:
mydict = {1:'one' , 2:'two' , 3:'three'}      # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [10]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'}      # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [11]:
mydict = {1:'one' , 'A':'two' , 3:'three'}      # dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [12]:
mydict.values()      # Return Dictionary values using values() .method 
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [14]:
mydict_items() # Access each key-value pair within a dic

NameError: name 'mydict_items' is not defined

In [15]:

mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with 
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [16]:

mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat' , 'hat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [1]:
keys = {'a' , 'b' , 'c' , 'd'} 
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys 
mydict3

{'a': None, 'c': None, 'd': None, 'b': None}

In [2]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = [10,20,30] 
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of 
mydict3

{'a': [10, 20, 30], 'c': [10, 20, 30], 'd': [10, 20, 30], 'b': [10, 20, 30]}

In [3]:
value.append(46)
mydict3

{'a': [10, 20, 30, 46],
 'c': [10, 20, 30, 46],
 'd': [10, 20, 30, 46],
 'b': [10, 20, 30, 46]}

In [4]:
value.append(58)
mydict3

{'a': [10, 20, 30, 46, 58],
 'c': [10, 20, 30, 46, 58],
 'd': [10, 20, 30, 46, 58],
 'b': [10, 20, 30, 46, 58]}

# Accessing items

In [5]:
mydict = {1:'Trupti' , 2:'Ashwini' , 3:'Triveni' , 4:'Shravani'}
mydict

{1: 'Trupti', 2: 'Ashwini', 3: 'Triveni', 4: 'Shravani'}

In [6]:
mydict[1]                 # Access item using key

'Trupti'

In [7]:
mydict.get(1)                #Access item using get() method

'Trupti'

In [8]:
mydict1 = {'Name':'Trupti' , 'ID' : 225654 , 'DOB': 2003 , 'studying':'Data Science'}
mydict1

{'Name': 'Trupti', 'ID': 225654, 'DOB': 2003, 'studying': 'Data Science'}

In [9]:
mydict1['Name']               #access item using key

'Trupti'

In [10]:
mydict1.get('studying')     # Access item using get() method

'Data Science'

# Add , Remove & change items

In [12]:

mydict1 = {'Name':'Trupti' , 'ID': 77 , 'DOB': 2003 , 'Address' : 'Sangareddy'} 
mydict1

{'Name': 'Trupti', 'ID': 77, 'DOB': 2003, 'Address': 'Sangareddy'}

In [13]:

mydict1['DOB'] = 2002                       # we can Change Dictionary Items 
mydict1['Address'] = 'Hyderabad' 
mydict1

{'Name': 'Trupti', 'ID': 77, 'DOB': 2002, 'Address': 'Hyderabad'}

In [14]:

dict1 = {'DOB':2004} 
mydict1.update(dict1) 
mydict1

{'Name': 'Trupti', 'ID': 77, 'DOB': 2004, 'Address': 'Hyderabad'}

In [15]:
mydict1['studying'] = 'data science'          # adding items in the dictionary 
mydict1

{'Name': 'Trupti',
 'ID': 77,
 'DOB': 2004,
 'Address': 'Hyderabad',
 'studying': 'data science'}

In [16]:
mydict1.pop('studying')       # removeing items in the dict using pop method 
mydict1

{'Name': 'Trupti', 'ID': 77, 'DOB': 2004, 'Address': 'Hyderabad'}

In [17]:
mydict1.popitem()               # rendom item is removed

('Address', 'Hyderabad')

In [18]:
mydict1                # remaining items in dict

{'Name': 'Trupti', 'ID': 77, 'DOB': 2004}

In [20]:
del[mydict1['ID']]          # removing item using del method 
mydict1

{'Name': 'Trupti', 'DOB': 2004}

In [21]:

mydict1.clear()                     # Delete all items of the dictionary using clear method 
mydict1

{}

In [22]:

del mydict1                         # Delete the dictionary object 
mydict1

NameError: name 'mydict1' is not defined

# copy dictionary

In [23]:
mydict1 = {'Name':'Trupti' , 'ID': 77 , 'DOB': 2003 , 'Address' : 'Sangareddy'} 
mydict1

{'Name': 'Trupti', 'ID': 77, 'DOB': 2003, 'Address': 'Sangareddy'}

In [25]:
mydict1 = mydict                  # create a new "mydict1"

In [26]:
id(mydict) , id(mydict1)         # The address of both mydict & mydict1 will be the same

(2111847363712, 2111847363712)

In [27]:
mydict2 = mydict.copy()          # Create a copy of the dictionary

In [28]:
id(mydict2)           # The address of mydict2 will be different from mydict

2111861602496

In [29]:
mydict['Address'] = 'Hyderabad'

In [30]:
mydict

{1: 'Trupti',
 2: 'Ashwini',
 3: 'Triveni',
 4: 'Shravani',
 'Address': 'Hyderabad'}

In [31]:
mydict1          # same as mydict

{1: 'Trupti',
 2: 'Ashwini',
 3: 'Triveni',
 4: 'Shravani',
 'Address': 'Hyderabad'}

In [32]:
mydict2

{1: 'Trupti', 2: 'Ashwini', 3: 'Triveni', 4: 'Shravani'}

# Loop through a Dictionary

In [34]:

mydict1 = {'Name':'Trupti' , 'ID': 77 , 'DOB': 2003 , 'Address' : 'Sangareddy' , 'studying':'Data Science'} 
mydict1

{'Name': 'Trupti',
 'ID': 77,
 'DOB': 2003,
 'Address': 'Sangareddy',
 'studying': 'Data Science'}

In [36]:
for i in mydict1:
    print(i , ':' , mydict1[i])        # key value pairs

Name : Trupti
ID : 77
DOB : 2003
Address : Sangareddy
studying : Data Science

In [37]:
for i in mydict1: 
    print(mydict1[i]) # Dictionary items

Trupti
77
2003
Sangareddy
Data Science

# Dictionary Membership

In [38]:
mydict1 = {'Name':'Trupti' , 'ID': 77 , 'DOB': 2003 , 'Address' : 'Sangareddy' , 'studying':'Data Science'} 
mydict1

{'Name': 'Trupti',
 'ID': 77,
 'DOB': 2003,
 'Address': 'Sangareddy',
 'studying': 'Data Science'}

In [39]:
'Name' in mydict1  # checking if a key is in dict

True

In [40]:
'Trupti' in mydict1          # Membership test can be only done for keys.

False

In [41]:
'ID' in mydict1

True

In [42]:

'Address' in mydict1

True

# All / Any