# Tuple

In [12]:
t1 = ()     #tuple has empty

In [13]:
t2 = (20,40,60)   # tuple of integers num's
t2

(20, 40, 60)

In [14]:
t3 = (2.22,20.34,45.88)     # tuple of float numbers 
t3

(2.22, 20.34, 45.88)

In [15]:
t4 = ('Trupti','Ashwini','Shravani','Triveni')    # tuple of strings 
t4

('Trupti', 'Ashwini', 'Shravani', 'Triveni')

In [16]:
t5 = ('Trupti',44,(50,70),(230,99))  # Nested tuples -  tuple inside the tuple is called as nested tuple 
t5

('Trupti', 44, (50, 70), (230, 99))

In [5]:
t6 = (60,'Trupti',60.44,6+7j)    # tuple of mixed data types 
t6

(60, 'Trupti', 60.44, (6+7j))

In [6]:
t7 = ('Trupti',8+6j,[66,90],7.9,{'ashwini','trivani'},(66,9,79))
t7                                        # length of list

('Trupti', (8+6j), [66, 90], 7.9, {'ashwini', 'trivani'}, (66, 9, 79))

# Tuple Indexing

In [11]:
t2[2]

60

In [14]:
t4[3]

'Triveni'

In [4]:
t5[2]

(50, 70)

In [10]:
t7[4]

{'ashwini', 'trivani'}

In [17]:
t2[-2]

40

In [18]:
t7[-3]

7.9

In [20]:
len(t1)

0

In [21]:
len(t2)

3

In [22]:
len(t4)

4

In [23]:
len(t7)

6

In [24]:
t7.count('Trupti')

1

In [26]:
t8 = (22, 33, 50, 60)
t9 = (10, 20, 30, 87)

In [27]:
t10 = t8 * 3
t10

(22, 33, 50, 60, 22, 33, 50, 60, 22, 33, 50, 60)

In [28]:
t11 = t8 * t9 
t11

TypeError: can't multiply sequence by non-int of type 'tuple'

# Tuple Slicing

In [29]:
mytuple = ('Trupti',8+6j,[66,90],7.9,{'ashwini','trivani'},(66,9,79))

In [30]:
mytuple[2:4]

([66, 90], 7.9)

In [31]:
mytuple[0:3]

('Trupti', (8+6j), [66, 90])

In [32]:
mytuple[:3]

('Trupti', (8+6j), [66, 90])

In [33]:
mytuple[-4]

[66, 90]

In [34]:
mytuple[-2]

{'ashwini', 'trivani'}

In [35]:
mytuple[:]             # Return whole tuple

('Trupti', (8+6j), [66, 90], 7.9, {'ashwini', 'trivani'}, (66, 9, 79))

# Remove & Change Items

In [36]:
mytuple

('Trupti', (8+6j), [66, 90], 7.9, {'ashwini', 'trivani'}, (66, 9, 79))

In [37]:
del mytuple[1]         # Tuple are immutable - which means we can't DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

In [39]:
del mytuple[4]

TypeError: 'tuple' object doesn't support item deletion

In [40]:
mytuple[2] = 235          #Tuples are immutable - and we can't change the tuple item

TypeError: 'tuple' object does not support item assignment

In [43]:
del mytuple              # Deleting whole tuple is possible

NameError: name 'mytuple' is not defined

# Loop through a tuple

In [44]:
mytuple = ('Trupti',8+6j,[66,90],7.9,{'ashwini','trivani'},(66,9,79))

In [45]:
mytuple

('Trupti', (8+6j), [66, 90], 7.9, {'ashwini', 'trivani'}, (66, 9, 79))

In [46]:
for i in mytuple:
    print(i)

Trupti
(8+6j)
[66, 90]
7.9
{'ashwini', 'trivani'}
(66, 9, 79)

In [47]:
for i in enumerate(mytuple):
    print(i)

(0, 'Trupti')
(1, (8+6j))
(2, [66, 90])
(3, 7.9)
(4, {'ashwini', 'trivani'})
(5, (66, 9, 79))

# Tuple Membership

In [48]:
mytuple

('Trupti', (8+6j), [66, 90], 7.9, {'ashwini', 'trivani'}, (66, 9, 79))

In [49]:
'Trupti' in mytuple         # checking if 'Trupti' in the tuple

True

In [50]:
[99,9] in mytuple          # checking if [99,9] in the tuple

False

In [51]:
if 'Trupti' in mytuple:                      # check if 'Trupti' exits in tuple by using if-else 
    print('Trupti is present in the tuple')
else:
    print('Trupti is not prsent in the tuple')

Trupti is present in the tuple

In [52]:
if [44,60] in mytuple:
    print('[44,60] is present in the tuple')
else:
    print('[44,60] is not prsent in the tuple')

[44,60] is not prsent in the tuple

# Index position

In [53]:
mytuple

('Trupti', (8+6j), [66, 90], 7.9, {'ashwini', 'trivani'}, (66, 9, 79))

In [54]:
mytuple.index('Trupti')

0

In [61]:
print(mytuple.index(8+6j))
print(mytuple.index(66,9,79))

1

ValueError: tuple.index(x): x not in tuple

# Sorting

In [67]:
mytuple2 = (22,40,85,48,56,70,18)

In [69]:
sorted(mytuple2)  # it returns the new sorted list and doesn't change the tuple

[18, 22, 40, 48, 56, 70, 85]

In [ ]:
sorted(mytuple2,reverse=True)      # sort in decending order